%light-text-dim {
  opacity: 0.7;
  color: $color6;
}

%p-section {
  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

%section-img {
  @media screen and (max-width: 991px) {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-img {
  @extend %section-img;
}

:root {
  --swiper-theme-color: $color1;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow-x: hidden;
}

.cursor {
  pointer-events: none;
  z-index: 999;
  position: absolute;
  background: #2696e8;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #2696e8, 0 0 60px #2696e8, 0 0 100px #2696e8;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.cursor:before {
  content: "";
  position: absolute;
  background: #2696e8;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 6;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $color13;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  // border-top-color: #ba55d3;
  border-top-color: $color3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  // border-top-color: #ff00ff;
  border-top-color: $color1;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h1,
h2,
h3 {
  font-family: "Arimo", sans-serif;

  *:not(strong) {
    font-size: inherit;
    font-family: inherit;
  }
}

h2 {
  font-size: 36px;
  line-height: 1.15;

  @media screen and (max-width: 575px) {
    font-size: 32px;
    text-align: center;
  }
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

select,
input,
textarea {
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: transparent;
  background-image: url("../vectors/select-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 26px;
  background-size: 16px;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.title-sm {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.text-white {
  * {
    color: #fff;
  }
}

.text-blue {
  color: $color1;
}

.text-orange {
  color: $color3;
}

.text-dark-1 {
  color: $color4;
}

.text-light-1 {
  color: $color6;
}

.op-70 {
  opacity: 0.7;
}

.text-light-dim {
  @extend %light-text-dim;
}

.c-btn {
  background-color: transparent;
  border: none;
}

.btn {
  border: none;
  padding: 12px 40px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.4s ease;

  &:hover {
    @media screen and (min-width: 768px) {
      transform: translateY(-7px);
    }
  }

  @media screen and (max-width: 575px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.btn-primary {
    background: $color1;
    color: #fff !important;
    box-shadow: 4px 4px 20px $color29;

    &:hover {
      background: $color13;
    }
  }

  &.btn-accent {
    background: $color3;
    color: $color4 !important;
    box-shadow: 4px 4px 20px $color30;

    &:hover {
      background: $color14;
    }
  }

  &.btn-transparent {
    background: transparent;
    border: 1px solid #fff;
    color: #fff !important;
  }

  &.btn-transparent-dark {
    background: transparent;
    border: 1px solid $color2;
    color: $color2 !important;
  }
}

.badge {
  &.badge-accent {
    color: $color4 !important;
    background: $color3;
    font-size: 30px;
    font-weight: 600;
    border-radius: 8px;
    padding: 4px 30px;
    display: inline-block;
    font-weight: 600;

    @media screen and (max-width: 1450px) {
      font-size: 20px;
    }
  }
}

.custom-list {
  .custom-list-item {
    position: relative;
    padding: 10px;
    padding-left: 50px;

    &::before {
      width: 24px;
      height: 26.5px;
      content: url("../vectors/feature-list-item.svg");
      position: absolute;
      // top: 50%;
      top: 14px;
      left: 0;
      // transform: translateY(-50%);
      //
      @media screen and (max-width: 1450px) {
        width: 24px;
        height: 26.5px;
      }
    }
  }
}

// Menu

.section-center {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
  position: fixed;
  top: 43px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.sm-nav {
  position: fixed;
  top: 13px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: $color1;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);

  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
  }

  @media screen and (max-width: 767px) {
    top: 20px;
  }
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menu-icon:checked ~ .sm-nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.sm-nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.sm-nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.sm-nav ul li:nth-child(1) {
  transition-delay: 300ms;
}
.sm-nav ul li:nth-child(2) {
  transition-delay: 250ms;
}
.sm-nav ul li:nth-child(3) {
  transition-delay: 200ms;
}
.sm-nav ul li:nth-child(4) {
  transition-delay: 150ms;
}
.sm-nav ul li:nth-child(5) {
  transition-delay: 100ms;
}
.sm-nav ul li:nth-child(6) {
  transition-delay: 50ms;
}
.sm-nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee !important;
  transition: all 250ms linear;
}
.sm-nav ul li a:hover {
  text-decoration: none;
  color: #ffeba7;
}
.sm-nav ul li a:after {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: $color1;
  opacity: 0.8;
  transition: width 250ms linear;
}
.sm-nav ul li a:hover:after {
  width: 100%;
}

.menu-icon:checked ~ .sm-nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
.menu-icon:checked ~ .sm-nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .sm-nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .sm-nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .sm-nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}
.menu-icon:checked ~ .sm-nav ul li:nth-child(5) {
  transition-delay: 1720ms;
}
.menu-icon:checked ~ .sm-nav ul li:nth-child(6) {
  transition-delay: 1800ms;
}

@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label {
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .sm-nav {
    right: 30px;
  }
  .sm-nav ul li a {
    font-size: 8vh;
  }
}

@media screen and (max-width: 575px) {
  .logo {
    left: 24px;
  }
  .sm-nav {
    right: 24px;
  }
}

.sm-nav {
  transform: translateY(-4px);

  @media screen and (max-width: 767px) {
    transform: translateY(-4px);
  }
}

.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
  top: 38px;

  @media screen and (max-width: 767px) {
    top: 34px;
    right: 46px;
  }

  @media screen and (max-width: 575px) {
    right: 40px;
  }
}

.tooltip {
  position: relative;
  box-shadow: 0 65px 110px $color27;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 4rem 1.5rem;
  text-align: center;

  @media screen and (max-width: 575px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__arrow {
    width: 50px;
    height: 25px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: white;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
      top: 0;
      left: 50%;
      box-shadow: 0 65px 110px $color27;
      // box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.6);
    }
  }
}

.primary-cards {
  margin-top: 64px;
  position: relative;

  img {
    width: 40%;
  }

  .card-bg {
    position: absolute;

    &.left {
      left: -576px;
    }

    &.right {
      right: -360px;
    }
  }

  .card {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    padding: 43px;
    text-align: center;
    margin: 0.5rem 0;
    z-index: 1;
    height: 100%;

    @media screen and (max-width: 1225px) {
      padding-left: 26px;
      padding-right: 26px;
    }

    h3 {
      margin: 46px 0;

      @media screen and (max-width: 1450px) {
        margin: 30px 0;
      }

      @media screen and (max-width: 1225px) {
        font-size: 23px;
      }
    }

    p {
      color: $color6;
    }
  }
}

.table-container {
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 3px;
  }
}
table {
  border-collapse: collapse;

  td,
  th {
    padding: 20px 24px;
  }

  thead {
    tr {
      th {
        background-color: $color1;
        color: #fff;

        &:first-child {
          border-top-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 10px;
        }
      }
    }
  }
}
