$color1: #0dbdb8;
$color2: #1d1d1d;
$color3: #ffb500;
$color4: #4d4141;
$color5: rgba(13, 189, 184, 0.1);
$color6: #474f62;
$color7: #1f2e3c;
$color8: #8596a8;
$color9: rgba(28, 28, 28, 0.05);
$color10: rgba(162, 182, 212, 0.16);
$color11: rgba(29, 29, 29, 0.1);
$color12: #000339;
$color13: rgb(10, 151, 146);
$color14: #cc9406;
