@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import "./colors";
@import "./utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $color2;
  letter-spacing: 1px;

  @media screen and (max-width: 575px) {
    font-size: 12px;
  }
}

ul {
  list-style-type: none;
}

nav,
section,
footer {
  padding-left: 5rem !important;
  padding-right: 5rem !important;

  @media screen and (max-width: 1550px) {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  @media screen and (max-width: 991px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  @media screen and (max-width: 575px) {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

strong {
  font-family: "Kaushan Script", cursive;
  color: $color1 !important;
  font-size: inherit;
  font-weight: 700;
}

.page-container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 992px) {
    transform: scale(0.8);
  }
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 24px 0;
  background-color: transparent;
  transition: 0.4s ease;

  @media screen and (max-width: 575px) {
    padding: 20px 0;
  }

  * {
    color: #fff;
    font-size: 24px;
  }

  .logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 210px;
    height: 50px;
    left: 0;

    img {
      position: absolute;
      width: 210px;
      left: 0;

      @media screen and (max-width: 575px) {
        width: 160px;
      }

      &.inverted {
        opacity: 0;
      }
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 991px) {
      display: none;
    }

    a {
      position: relative;
      margin-left: 60px;
      font-weight: 500;
      transition: 0.4s ease;
      display: block;
      font-size: 24px;

      &:hover {
        color: $color1;
      }

      @media screen and (max-width: 1830px) {
        font-size: 20px;
        margin-left: 40px;
      }

      @media screen and (max-width: 1580px) {
        font-size: 18px;
        margin-left: 30px;
      }

      @media screen and (max-width: 1270px) {
        font-size: 16px;
      }

      @media screen and (max-width: 1190px) {
        font-size: 14px;
      }

      @media screen and (max-width: 1120px) {
        font-size: 12px;
        margin-left: 18px;
      }

      &.btn {
        margin-left: 40px;
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   bottom: -0.5rem;
      //   height: 1px;
      //   width: 100%;
      //   background-color: $color1;
      // }
    }
  }

  .sm-hide {
    &,
    &::before,
    &::after,
    *,
    *::before,
    *::after {
      @media screen and (min-width: 992px) {
        display: none !important;
      }
    }
  }

  &.scrolled {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .logo {
      img {
        opacity: 0;

        &.inverted {
          opacity: 1;
        }
      }
    }

    a {
      color: $color2;
    }
  }
}

#hero,
#hero-min {
  padding: 150px 0;
  position: relative;
  background: url("../img/bg-hero.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  * {
    color: #fff;
  }

  .dots,
  .circle,
  .dark-bg {
    position: absolute;
    z-index: 0;
  }

  .dark-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: $color2;
    opacity: 0.56;
  }

  .circle {
    top: 9rem;
    left: 50px;
  }

  .dots-1,
  .dots-2 {
    width: 60px;

    @media screen and (max-width: 767px) {
      width: 50px;
    }
  }

  .dots-1 {
    bottom: -3rem;
    left: 1rem;
  }

  .dots-2 {
    right: 35%;
    top: 4.5rem;

    @media screen and (max-width: 991px) {
      right: 0;
    }
  }

  .page-container {
    position: relative;
  }

  h1 {
    font-size: 60px;
    line-height: 1.2;
  }
}

#hero-min {
  text-align: center;

  .text {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;

    p {
      font-size: 20px;
      margin-top: 1rem;
    }

    .btn {
      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
    }
  }
}

#hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 750px;

  @media screen and (max-width: 991px) {
    height: unset;
    display: block;
    min-height: unset;
    padding-bottom: 70px;
  }

  .page-container {
    position: relative;
    z-index: 1;
    margin-top: 50px;

    @media screen and (min-width: 992) {
      margin-top: -18px;
    }
  }

  .main {
    display: flex;
    justify-content: space-between;
    // align-items: flex-end;
    align-items: center;

    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }

    .left {
      width: 60%;
      margin-right: 1rem;

      @media screen and (max-width: 991px) {
        width: 100%;
        margin-right: 0;
        max-width: 871x;
      }

      .badge {
        font-size: 16px;

        @media screen and (max-width: 991px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 284px;
        }

        @media screen and (max-width: 767px) {
          text-align: center;
        }

        @media screen and (max-width: 575px) {
          width: 250px;
          font-size: 14px;
        }
      }

      h1 {
        margin-top: 1rem;

        @media screen and (max-width: 1830px) {
          font-size: 54px;
        }

        @media screen and (max-width: 1760px) {
          font-size: 44px;
        }

        @media screen and (max-width: 1450px) {
          margin-top: 1rem;
        }

        @media screen and (max-width: 1135px) {
          font-size: 40px;
        }

        @media screen and (max-width: 991px) {
          text-align: center;
          font-size: 52px;
        }

        @media screen and (max-width: 767px) {
          font-size: 40px;
        }

        @media screen and (max-width: 575px) {
          font-size: 36px;
        }
      }

      .custom-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0.75rem;

        @media screen and (max-width: 991px) {
          max-width: 460px;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (max-width: 575px) {
          max-width: 230px;
        }

        .custom-list-item {
          width: 50%;

          @media screen and (max-width: 575px) {
            width: 100%;
          }
        }
      }

      .btns {
        margin-top: 1.5rem;

        @media screen and (max-width: 1650px) {
          margin-top: 1.5rem;
        }

        @media screen and (max-width: 991px) {
          max-width: 440px;
          display: flex;
          justify-content: flex-start;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (max-width: 575px) {
          flex-direction: column;
        }

        .btn {
          font-size: 26px;
          padding: 0.5rem 1.5rem;

          @media screen and (max-width: 1650px) {
            font-size: 20px;
          }

          @media screen and (max-width: 1135px) {
            font-size: 14px;
          }
        }

        .btn.btn-accent {
          width: 340px;

          @media screen and (max-width: 1650px) {
            width: 220px;
          }

          @media screen and (max-width: 1135px) {
            width: 160px;
          }

          @media screen and (max-width: 575px) {
            width: 100%;
          }
        }
      }
    }

    .right {
      position: relative;
      width: 480px;

      @media screen and (max-width: 1400px) and (max-width: 1250px) {
        width: 480px;
      }

      @media screen and (max-width: 1135px) {
        width: 420px;
      }

      @media screen and (max-width: 991px) {
        width: 100%;
        max-width: 558px;
        margin-top: 3rem;
      }

      .bg-card {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 1350px) {
          width: 150%;
        }

        @media screen and (max-width: 991px) {
          width: 120%;
        }
      }

      .card {
        padding: 25px;
        width: 100%;
        border-radius: 50px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.4);
        border-radius: 40px;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        @media screen and (max-width: 1400px) and (max-width: 1250px) {
          border-radius: 30px;
        }

        .badge {
          border-radius: 5px;
          font-weight: 600;
          text-align: center;
          background-color: #0dbdb8;
          color: #fff;
          font-size: 16px;
          display: block;
          padding: 0 0.5rem;
        }

        del {
          font-size: 24px;
          color: $color2;
          font-weight: 600;
        }

        .total-price {
          font-size: 32px;
        }

        h2 {
          font-size: 26px;
          text-align: center;

          @media screen and (max-width: 1135px) {
            font-size: 24px;
          }
        }

        .select-container,
        input[type="text"] {
          display: block;
          margin-top: 30px;
          border-radius: 6px;
          background: #fff;
          border: none;

          @media screen and (max-width: 1450px) {
            margin-top: 20px;
          }
        }

        input[type="text"],
        select,
        option {
          color: $color4;
        }

        select,
        input[type="text"] {
          padding: 14px 25px;
          width: 100%;
          font-size: 16px;
          border-radius: 6px;

          @media screen and (max-width: 1450px) {
            padding: 14px 18px;
            background-position-y: 20px;
          }

          @media screen and (max-width: 1135px) {
            font-size: 14px;
            padding: 14px;
          }
        }

        .btn-wrap {
          transform: translateX(-15px);
        }

        img.calculate {
          width: 25px;
          height: 88px;
        }

        .btn {
          margin: 0.5rem 6px;
          text-align: right;
          font-size: 24px;
          padding: 0.5rem 1.5rem;
          background-color: #e23b3b;

          @media screen and (max-width: 575px) {
            padding-left: 22px;
            padding-right: 22px;
            text-align: center;
          }
        }
      }
    }
  }
}

#features {
  .cards {
    margin: 36px 0;

    .card {
      text-align: center;

      h2 {
        font-size: 92px;

        @media screen and (max-width: 1450px) {
          font-size: 74px;
          margin-bottom: 0.5rem;
        }

        @media screen and (max-width: 991px) {
          font-size: 54px;
        }

        @media screen and (max-width: 767px) {
          font-size: 42px;
        }
      }

      h3 {
        font-size: 35px;

        @media screen and (max-width: 1450px) {
          font-size: 25px;
        }

        @media screen and (max-width: 991px) {
          font-size: 18px;
        }

        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
  }
}

#why-us {
  background-color: $color5;
  overflow: hidden;

  @extend %p-section;

  .head {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

#how-it-works {
  position: relative;
  overflow: hidden;
  background-color: $color7;

  @extend %p-section;

  .head {
    @media screen and (max-width: 575px) {
      text-align: center;
    }
  }

  .dots {
    position: absolute;

    @media screen and (max-width: 767px) {
      width: 50px;
    }

    &.dots-1 {
      left: 0;
      bottom: 0;
    }

    &.dots-2 {
      right: 0;
      top: -2rem;
    }
  }

  .order-complete {
    @extend %section-img;

    @media screen and (max-width: 767px) {
      margin-bottom: 5rem;
    }
  }

  .steps {
    margin-top: 50px;

    .step {
      margin: 0.5rem 0;
      padding: 1rem 1.25rem;
      border-radius: 20px;
      border-bottom-right-radius: 0;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 575px) {
        flex-direction: column;
      }

      .number {
        margin-right: 35px;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        background-color: $color1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        @media screen and (max-width: 575px) {
          margin-bottom: 1rem;
          margin-right: 0;
        }

        .number-main {
          color: #fff;
          font-size: 40px;
          font-weight: bold;
        }
      }

      .text {
        font-size: 18px;

        @media screen and (max-width: 1450px) {
          font-size: 14px;
        }

        @media screen and (max-width: 575px) {
          text-align: center;
        }
      }
    }
  }
}

#benefits {
  @extend %p-section;

  .benefits-container {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1551px) {
      margin-left: -100px;
    }

    @media screen and (max-width: 1150px) {
      flex-direction: column;
    }

    .left-img-container {
      flex-grow: 1;
      display: flex;
      align-items: center;

      img.left-img {
        width: 100%;

        @media screen and (max-width: 1150px) {
          width: 75%;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (max-width: 575px) {
          width: 100%;
        }
      }
    }

    .right {
      flex-shrink: 0;

      @media screen and (min-width: 1451px) {
        width: 690px;
      }

      @media screen and (max-width: 1450px) and (min-width: 1151px) {
        width: 560px;
      }

      h2 {
        br {
          @media screen and (max-width: 575px) {
            display: none;
          }
        }
      }
    }

    .btn {
      @media screen and (max-width: 575px) {
        font-size: 14px;
      }
    }
  }
}

#discount {
  @extend %p-section;

  .discount-main {
    background-color: $color1;
    padding: 1.5rem 4rem;
    border-radius: 20px;

    @media screen and (max-width: 767px) {
      padding: 2rem;
    }

    .text {
      color: #fff;
      font-size: 30px;

      @media screen and (max-width: 1180px) {
        font-size: 26px;
      }

      @media screen and (max-width: 1080px) {
        font-size: 22px;
      }

      @media screen and (max-width: 575px) {
        font-size: 20px;
        text-align: center;
      }

      @media screen and (max-width: 345px) {
        font-size: 16px;
      }
    }

    input {
      border-radius: 8px;
      font-size: 30px;
      padding: 23px 20px;
      border: none;
      width: 100%;

      @media screen and (max-width: 1600px) {
        font-size: 24px;
        padding: 18px;
      }

      @media screen and (max-width: 1150px) {
        font-size: 22px;
      }

      @media screen and (max-width: 767px) {
        font-size: 12px;
        padding: 14px;
      }
    }
  }
}

#testimonials {
  .main {
    max-width: 933px;
    margin-left: auto;
    margin-right: auto;

    p {
      color: $color8;

      @media screen and (min-width: 1800px) {
        font-size: 26px;
      }
    }

    .testimonials {
      .item {
        margin-top: 5rem;

        .img {
          position: relative;
          width: 276px;
          height: 276px;
          margin-left: auto;
          margin-right: auto;

          @media screen and (max-width: 767px) {
            width: 100px;
            height: 100px;
          }

          .user,
          .bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .user {
            border-radius: 50%;
            width: 100%;
          }

          .bg {
            width: 180%;
          }
        }

        .body {
          margin: 1.5rem 0 2rem;

          .name {
            margin: 14px 0;
            font-size: 32px;
            color: $color25;
            font-weight: 500;

            @media screen and (max-width: 767px) {
              font-size: 22px;
            }
          }

          .comment {
            font-size: 20px;
            color: $color26;
            font-weight: 300;

            @media screen and (max-width: 767px) {
              font-size: 14px;
            }
          }

          .ratings {
            img {
              margin-left: 6px;
              margin-right: 6px;

              @media screen and (max-width: 767px) {
                width: 20px;
                height: 20px;
                margin-left: 3px;
                margin-right: 3px;
              }
            }
          }
        }
      }
    }
  }
}

#help {
  position: relative;
  background-color: $color7;
  // padding: 64px 0;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-container {
    position: relative;
    z-index: 1;
  }

  * {
    color: #fff;
  }

  .writing-container {
    .row > * {
      @media screen and (max-width: 610px) {
        width: 100%;
      }
    }
  }

  h3 {
    @media screen and (max-width: 1450px) {
      font-size: 28px;
    }
  }

  .dots {
    position: absolute;

    @media screen and (max-width: 767px) {
      width: 50px;
    }

    &.left {
      left: 0;
      bottom: 1.5rem;
    }

    &.right {
      right: 0;
      top: 0;
    }
  }

  .btn {
    padding-left: 70px;
    padding-right: 70px;

    @media screen and (max-width: 575px) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

#special {
  @extend %p-section;

  .title {
    margin-bottom: 70px;
  }
}

#get-admission {
  background-color: $color9;

  @extend %p-section;

  .head {
    justify-content: space-between;
    margin-bottom: 65px;

    h3 {
      font-size: 45px;

      @media screen and (max-width: 767px) {
        font-size: 44px;
      }

      @media screen and (max-width: 650px) {
        font-size: 38px;
      }

      @media screen and (max-width: 575px) {
        font-size: 30px;
      }
    }

    .stars {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        margin-left: 6px;
      }
    }
  }
}

.colleges-container {
  margin-top: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .college {
    // width: 20%;
    padding: 1.5rem;
    text-align: center;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(1) {
      img {
        width: 120px;
      }
    }

    &:nth-child(2) {
      img {
        width: 90px;
      }
    }

    &:nth-child(3) {
      img {
        width: 70px;
      }
    }

    &:nth-child(4) {
      img {
        width: 50px;
      }
    }

    &:nth-child(5) {
      img {
        width: 60px;
      }
    }
  }
}

#services {
  position: relative;
  background: $color7;

  @extend %p-section;

  * {
    color: #fff;
  }

  .dots {
    position: absolute;

    @media screen and (max-width: 767px) {
      width: 50px;
    }

    &.left {
      left: 0;
      bottom: 0;
    }

    &.right {
      right: 0;
      top: 0;
    }
  }

  .girl-img {
    @extend %section-img;
  }

  h2 {
    margin-bottom: 40px;
  }

  .item {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .img-container {
    height: 100%;
  }
}

#identity {
  @extend %p-section;

  .jumbotron {
    background-color: $color1;
    padding: 45px 56px;
    display: flex;
    align-items: center;
    border-radius: 20px;

    @media screen and (max-width: 1200px) {
      justify-content: center;
      flex-direction: column;
    }

    @media screen and (max-width: 575px) {
      padding-left: 12px;
      padding-right: 12px;
    }

    * {
      color: #fff;
    }

    .vector {
      width: 240px;
      height: 240px;
    }

    .circle {
      background: #fff;
      width: 294px;
      height: 294px;
      border-radius: 50%;
      margin-right: 56px;

      @media screen and (max-width: 1200px) {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
        margin-right: 0;
      }
    }

    h3 {
      font-size: 36px;

      @media screen and (max-width: 1200px) {
        text-align: center;
      }

      @media screen and (max-width: 575px) {
        font-size: 30px;
      }
    }

    .btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media screen and (max-width: 1200px) {
        justify-content: center;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
        align-items: flex-start;
        margin-top: 2rem;
        transform: translateX(16px);
      }

      @media screen and (max-width: 575px) {
        transform: translateX(44px);
      }

      .btn {
        font-size: 20px;
      }
    }
  }

  .main {
    margin-top: 130px;

    h2 {
      max-width: 1272px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      max-width: 1404px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .cards {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      max-width: 485px;
      padding: 44px 33px;
      box-shadow: 0 50px 140px $color10;
      display: flex;
      margin: 0.5rem;
      align-items: center;

      @media screen and (max-width: 991px) {
        flex-direction: column;
        text-align: center;
      }

      @media screen and (max-width: 767px) {
        max-width: 295px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img.left-img {
        margin-right: 33px;
        width: 100px;

        @media screen and (max-width: 1400px) {
          width: 90px;
          margin-right: 20px;
        }

        @media screen and (max-width: 1200px) {
          width: 75px;
          margin-right: 20px;
        }

        @media screen and (max-width: 991px) {
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .text {
        * {
          font-size: 18px;
          font-weight: 600;

          @media screen and (max-width: 1400px) {
            font-size: 14px;
          }

          @media screen and (max-width: 1200px) {
            font-size: 10px;
          }
        }
      }

      a {
        margin-top: 25px;
        display: flex;
        align-items: center;
        color: $color2;

        @media screen and (max-width: 991px) {
          width: 104px;
          margin-left: auto;
          margin-right: auto;
        }

        img {
          margin-left: 20px;
        }
      }
    }
  }
}

#faqs {
  position: relative;
  background: $color7;
  background-image: url(../vectors/bg-faq.svg);
  background-repeat: no-repeat;
  background-position: center;

  @extend %p-section;

  .dots {
    position: absolute;

    @media screen and (max-width: 767px) {
      width: 50px;
    }

    &.left {
      left: 0;
      bottom: 0;
    }

    &.right {
      right: 0;
      top: 0;
    }
  }

  .faq-right {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    margin: 10px 0 24px;
  }

  .question {
    .q-statement {
      padding: 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      cursor: pointer;

      img {
        transition: 0.4s ease;
      }

      .text {
        font-weight: 600;
        font-size: 22px;
      }

      img {
        margin-left: 2rem;
      }
    }

    .answer {
      display: none;
      font-weight: 200;
      padding-bottom: 0.75rem;
    }

    &.active {
      img {
        transform: rotate(45deg);
      }
    }
  }
}

#guarentees {
  @extend %p-section;

  .text {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    p {
      margin-top: 32px;
    }
  }

  .video-container {
    position: relative;
    border-radius: 75px;
    overflow: hidden;
    box-shadow: 0 10px 30px #0dbdb845;

    .video-img {
      width: 100%;
      height: 100%;
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .dark {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $color2;
      opacity: 0.35;
    }
  }
}

#tips {
  background: $color11;

  @extend %p-section;

  .tips-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .tips-img {
    max-width: 578px;
    margin-bottom: 4rem;

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
  }

  .text {
    max-width: 670px;
    margin-left: auto;

    h2 {
      position: relative;
      color: $color12;
      font-family: "poppins", sans-serif;

      &::after {
        content: "";
        position: absolute;
        top: -1.5rem;
        left: 0;
        background: $color3;
        width: 80px;
        height: 8px;
        border-radius: 20px;
      }
    }

    p {
      margin-top: 25px;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
}

#footer {
  background: $color7;

  @extend %p-section;

  * {
    color: #fff;
  }

  .logo {
    width: 210px;
    height: 64px;

    img {
      width: 100%;
    }
  }

  .footer-links {
    display: block;
    padding: 60px 0;

    a {
      padding: 0.25rem 0;
      display: block;
      transition: 0.4s ease;

      &:hover {
        color: $color1;
      }
    }
  }

  .footer-nav,
  .footer-main,
  .footer-links {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 80%;
      height: 1px;
      border-top: 1px solid #fff;
      transform: translateX(-50%);
    }
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 44px;

    & > * {
      margin: 2rem 0;
    }

    .nav {
      @media screen and (max-width: 950px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      a {
        font-size: 12px;
        margin: 0 24px;

        @media screen and (max-width: 1200px) {
          margin: 0 8px;
        }

        @media screen and (max-width: 950px) {
          font-size: 9px;
          margin: 19px 0;
        }
      }
    }
  }

  .footer-main {
    padding: 60px 0;

    .row > * {
      @media screen and (max-width: 791px) {
        width: 100%;
        flex-basis: auto;
      }
    }

    .title {
      margin-bottom: 50px;
    }

    .contact-us,
    .payments,
    .secure {
      @media screen and (max-width: 991px) {
        margin: 1rem 0;
      }

      img {
        @media screen and (max-width: 1600px) {
          transform: scale(0.6);
        }
      }
    }

    .contact-us {
      @media screen and (max-width: 791px) {
      }

      a {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 30px 0;
        margin-right: 24px;
        white-space: initial;

        @media screen and (max-width: 1600px) {
          font-size: 16px;
        }

        @media screen and (max-width: 340px) {
          font-size: 14px;
        }

        img {
          margin-right: 24px;

          @media screen and (max-width: 340px) {
            width: 30px;
            margin-right: 10px;
          }
        }
      }
    }

    .payments,
    .secure {
      @media screen and (min-width: 792px) {
        text-align: center;
      }

      .imgs {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 500px) {
          flex-wrap: wrap;
        }

        & > img {
          flex-shrink: 0;
        }

        @media screen and (max-width: 791px) {
          justify-content: flex-start;

          & > img {
            margin-left: 0 !important;
          }
        }
      }
    }

    .payments {
      img {
        margin: 0 24x;
      }
    }

    .secure {
      .imgs {
        img {
          margin: 0 36px;
        }
      }
    }
  }

  .footer-copyright {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;

    @media screen and (max-width: 1600px) {
      font-size: 20px;
    }
  }
}

#our-story {
  @extend %p-section;

  .story-main {
    background-color: $color31;
    padding: 10px 84px;

    .story-item {
      position: relative;
      margin: 74px 0;

      .year {
        position: absolute;
        left: -60px;
        // top: 50%;
        transform: rotate(90deg);
        // transform: rotate(90deg) translateY(-50%);
        font-size: 20px;
        font-weight: 700;
        color: $color1;
        top: 12px;
      }
    }
  }
}

#relax {
  overflow: hidden;
  @extend %p-section;

  .card {
    box-shadow: 0 50px 140px #a2b6d41a;

    p {
      opacity: 0.7;
      color: $color6;
    }
  }
}

#crew {
  @extend %p-section;

  .crew-container {
    background: url("../vectors/bg-crew.svg");
    background-size: cover;
    max-width: 844px;
    margin-left: auto;
    margin-right: auto;

    .crew-main {
      margin-top: 74px;

      .crew-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 24px 0;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: $color3;
        }

        &::before {
          width: 80%;
          left: 0;
          height: 10px;
          top: 42px;
        }

        &::after {
          left: calc(80%);
          width: 36px;
          height: 36px;
          top: 28px;
          border-radius: 50%;
        }

        .img {
          width: 90px;
          position: relative;
          flex-shrink: 0;

          @media screen and (max-width: 410px) {
            width: 60px;
            top: 18px;
          }

          img {
            width: 100%;
          }
        }

        .text {
          margin-left: 1.5rem;
          max-width: 390px;

          p {
            margin-top: 40px;
          }
        }
      }
    }
  }
}

#contact-form {
  @extend %p-section;

  input,
  textarea {
    display: block;
    border: none;
    border-bottom: 1px solid $color32;
    margin-bottom: 30px;
    width: 100%;

    &:focus {
      border-bottom-color: $color1;
    }
  }

  .btn {
    border-color: $color1;
  }

  .sub-section {
    margin-top: 1rem;
    padding-top: 1rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      height: 6px;
      border-radius: 4px;
      background-color: $color1;
    }
  }
}

#inquiry {
  background-color: $color1;
  padding: 2rem 0;

  @extend %p-section;

  * {
    color: #fff;
  }

  .btns-container {
    @media screen and (max-width: 450px) {
      flex-direction: column;

      & > * {
        margin: 0.75rem 0;

        &:nth-child(2) {
          transform: translateX(6px);
        }
      }

      img {
        width: 30px;
      }
    }

    .btn {
      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
    }
  }
}

#workflow {
  .workflow-item {
    padding: 10px 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 991px) {
      padding: 76px 0;
    }

    .text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      p {
        margin-top: 0.5rem;
      }

      .number {
        position: absolute;
        right: 100%;
        top: 0;
        font-size: 272px;
        color: $color3;
        opacity: 0.14;
        line-height: 1.1;

        @media screen and (max-width: 991px) {
          left: 0;
          right: unset;
        }
      }
    }

    .img {
      img {
        max-width: 300px;
      }
    }
  }

  .page-container {
    // .workflow-item {
    &:nth-child(odd) {
      .text {
        margin-left: auto;
      }
      .img {
        img {
          display: block;
          margin-left: auto;
        }
      }
    }

    &:nth-child(even) {
      .text {
        .number {
          left: 100%;

          @media screen and (max-width: 991px) {
            left: unset;
            right: 0;
          }
        }
      }
    }
  }
  // }
}

#more-info {
  @extend %p-section;
}

#problem {
  .items {
    margin-top: 3rem;
    margin-bottom: 2rem;

    .container-fluid {
      & > .row > * {
        @media screen and (max-width: 600px) {
          width: 100%;
          text-align: center;
        }
      }
    }

    .item {
      max-width: 340px;

      height: calc(100% - 51px);

      @media screen and (max-width: 600px) {
        margin-left: auto;
        margin-right: auto;
      }

      .step-number {
        font-weight: bold;
        color: $color1;
        margin-bottom: 0.5rem;
      }

      p {
        margin-top: 0.5rem;
      }
    }

    .ending-line {
      position: relative;
      opacity: 0.2;
      margin-top: 1.5rem;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        left: 44px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 4px dotted $color1;
      }

      .circle {
        position: relative;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $color1;

        &::after {
          content: "";
          position: absolute;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          left: 50%;
          top: 50%;
          background-color: $color3;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

#privacy-policy {
  @media screen and (min-width: 992px) {
    padding-bottom: 2rem;
  }

  @extend %p-section;

  table {
    min-width: 720px;
    margin: 2rem 0;

    tr {
      td {
        &:nth-child(1) {
          min-width: 120px;
        }

        &:nth-child(2) {
          min-width: 240px;
        }
        &:nth-child(1) {
          min-width: 120px;
        }
      }
    }
  }

  ol,
  ul {
    margin: 0.5rem 0;
  }

  ol {
    padding-left: 1rem;
  }

  h3 {
    margin: 2rem 0 1rem;
  }

  p {
    margin-bottom: 0.75rem;
  }

  img {
    width: 40%;
    margin-bottom: 1rem;

    @media screen and (min-width: 450px) {
      float: right;
      margin-left: 2rem;
    }

    @media screen and (max-width: 449px) {
      margin-bottom: 2rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#universities {
  padding: 40px 0;
  background-color: $color5;
}

#praisers {
  @extend %p-section;

  .swiper {
    width: 100%;

    @media screen and (max-width: 575px) {
      // margin-left: -18px;
      // margin-right: -18px;
      // padding-left: 18px;
      // padding-right: 18px;
    }
  }

  .swiper-slide {
    width: 870px;
    padding: 80px 0 40px;

    &:not(.swiper-slide-active) {
      opacity: 0.5;
    }

    @media screen and (max-width: 1023px) {
      width: 700px;
    }

    @media screen and (max-width: 991px) {
      width: 500px;
    }

    @media screen and (max-width: 767px) {
      width: 350px;
    }

    @media screen and (max-width: 575px) {
      width: 100%;
    }
  }

  .praiser-card {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 90px 80px 36px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.16);

    @media screen and (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    img.client {
      position: absolute;
      width: 120px;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    .name {
      font-size: 24px;
      color: $color25;
    }

    p {
      color: $color26;
      margin-top: 2rem;
    }
  }

  .swiper-nav {
    display: flex;
    justify-content: space-between;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;

    .btn {
      color: #fff;
      background-color: $color1;
      font-weight: 700;
      font-size: 40px;
      line-height: 1;
      border-radius: 50%;
      width: 52px;
      height: 52px;
      padding: 0;

      &:hover {
        transform: none;
      }
    }
  }
}

#satisfied-clients {
  @extend %p-section;

  .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s ease;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.7) 0%,
          transparent 100%
        )
        280%;
      z-index: 1;
      border-radius: 5px;
    }

    img {
      width: 100%;
      transition: 0.4s ease;
    }

    .text {
      position: absolute;
      text-align: center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      padding: 44px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .btn {
        width: 100%;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 13px;

        img {
          width: 24px;
          margin-right: 0.5rem;
        }
      }

      * {
        color: #fff;
      }
    }

    &:hover {
      transform: scale(0.98);

      img {
        transform: scale(1.05);
      }
    }
  }
}

#writers {
  .swiper-slides {
    overflow: hidden;
    margin-left: -40px;
    margin-right: -40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -40px;
    margin-bottom: -40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .swiper {
    overflow: visible;

    @media screen and (max-width: 575px) {
      padding-top: 10rem;
    }

    .swiper-slide {
      opacity: 0;
      transition: 0.4s ease;

      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }

  .writer-card {
    position: relative;
    border-radius: 70px;
    border-bottom-right-radius: 0 !important;
    padding: 40px;
    background-image: url("../img/writer-bg.png");
    background-size: cover;

    @media screen and (max-width: 575px) {
      border-radius: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .client-img {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 150px;
      border-radius: 50%;

      @media screen and (max-width: 575px) {
        top: 0;
        left: 50%;
        transform: translate(-50%, -110%);
      }
    }

    * {
      color: #fff;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.82);
      border-radius: 70px;
      border-bottom-right-radius: 0 !important;

      @media screen and (max-width: 575px) {
        border-radius: 40px;
      }
    }

    .main {
      position: relative;
    }

    .reviews {
      margin-top: 0.5rem;

      img {
        width: 22px;
      }
    }

    .text {
      position: relative;
      margin: 36px 0;
      padding: 50px 0;

      .quotes {
        font-size: 100px;
        position: absolute;
        line-height: 1;

        &.start {
          top: 0;
          left: 0;
        }

        &.end {
          bottom: -70px;
          right: 0;
        }
      }
    }

    .subject {
      text-align: center;
      color: $color1;
      font-size: 20px;
    }
  }

  .swiper-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 30px;
      cursor: pointer;
    }
  }
}

#video-iframe {
  @media screen and (max-width: 767px) {
    height: 350px;
  }

  @media screen and (max-width: 575px) {
    height: 280px;
  }
}

#footer,
#privacy-policy {
  padding: 4rem 0;

  .page-container {
    transform: unset;

    @media screen and (min-width: 992px) {
      width: 80%;
    }
  }
}
