@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import "./_colors.scss";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $color2;
  letter-spacing: 1px;

  @media screen and (max-width: 575px) {
    font-size: 12px;
  }
}

nav,
section,
footer {
  padding-left: 5rem !important;
  padding-right: 5rem !important;

  @media screen and (max-width: 1550px) {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  @media screen and (max-width: 991px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  @media screen and (max-width: 575px) {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}

strong {
  font-family: "Kaushan Script", cursive;
  color: $color1 !important;
  font-size: inherit;
  font-weight: 700;
}

.page-container {
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 992px) {
    transform: scale(0.8);
  }
}

#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 20px 0;
  background-color: transparent;
  transition: 0.4s ease;

  * {
    color: #fff;
    font-size: 24px;
  }

  .logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 210px;
    height: 50px;
    left: 0;

    img {
      position: absolute;
      width: 210px;
      left: 0;

      @media screen and (max-width: 575px) {
        width: 160px;
      }

      &.inverted {
        opacity: 0;
      }
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 991px) {
      display: none;
    }

    a {
      position: relative;
      margin-left: 60px;
      font-weight: 500;
      transition: 0.4s ease;
      display: block;
      font-size: 24px;

      &:hover {
        color: $color1;
      }

      @media screen and (max-width: 1830px) {
        font-size: 20px;
        margin-left: 40px;
      }

      @media screen and (max-width: 1580px) {
        font-size: 18px;
        margin-left: 30px;
      }

      @media screen and (max-width: 1240px) {
        font-size: 16px;
      }

      @media screen and (max-width: 1180px) {
        font-size: 14px;
      }

      @media screen and (max-width: 1100px) {
        font-size: 12px;
        margin-left: 20px;
      }

      &.btn {
        margin-left: 40px;
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   bottom: -0.5rem;
      //   height: 1px;
      //   width: 100%;
      //   background-color: $color1;
      // }
    }
  }

  .sm-hide {
    &,
    &::before,
    &::after,
    *,
    *::before,
    *::after {
      @media screen and (min-width: 992px) {
        display: none !important;
      }
    }
  }

  &.scrolled {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .logo {
      img {
        opacity: 0;

        &.inverted {
          opacity: 1;
        }
      }
    }

    a {
      color: $color2;
    }
  }
}

#hero {
  padding: 150px 0;
  position: relative;
  background: url("../img/bg-hero.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  min-height: 750px;

  @media screen and (max-width: 991px) {
    height: unset;
    display: block;
    min-height: unset;
    padding-bottom: 70px;
  }

  * {
    color: #fff;
  }

  .dots,
  .circle,
  .dark-bg {
    position: absolute;
    z-index: 0;
  }

  .circle {
    top: 9rem;
    left: 50px;
  }

  .dots-1,
  .dots-2 {
    width: 60px;

    @media screen and (max-width: 767px) {
      width: 50px;
    }
  }

  .dots-1 {
    bottom: -3rem;
    left: 1rem;
  }

  .dots-2 {
    right: 35%;
    top: 4.5rem;

    @media screen and (max-width: 991px) {
      right: 0;
    }
  }

  .dark-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: $color2;
    opacity: 0.56;
  }

  .page-container {
    position: relative;
    z-index: 1;
    margin-top: 50px;

    @media screen and (min-width: 992) {
      margin-top: -18px;
    }
  }

  .main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }

    .left {
      width: 60%;
      margin-right: 1rem;

      @media screen and (max-width: 991px) {
        width: 100%;
        margin-right: 0;
        max-width: 871x;
      }

      .badge {
        font-size: 16px;

        @media screen and (max-width: 991px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 284px;
        }

        @media screen and (max-width: 767px) {
          text-align: center;
        }

        @media screen and (max-width: 575px) {
          width: 250px;
          font-size: 14px;
        }
      }

      h1 {
        margin-top: 1rem;
        font-size: 60px;
        line-height: 1.2;

        @media screen and (max-width: 1830px) {
          font-size: 54px;
        }

        @media screen and (max-width: 1760px) {
          font-size: 44px;
        }

        @media screen and (max-width: 1450px) {
          margin-top: 1rem;
        }

        @media screen and (max-width: 1135px) {
          font-size: 40px;
        }

        @media screen and (max-width: 991px) {
          text-align: center;
          font-size: 52px;
        }

        @media screen and (max-width: 767px) {
          font-size: 40px;
        }

        @media screen and (max-width: 575px) {
          font-size: 36px;
        }
      }

      .custom-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 0.75rem;

        @media screen and (max-width: 991px) {
          max-width: 460px;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (max-width: 575px) {
          max-width: 230px;
        }

        .custom-list-item {
          width: 50%;

          @media screen and (max-width: 575px) {
            width: 100%;
          }
        }
      }

      .btns {
        margin-top: 1.5rem;

        @media screen and (max-width: 1650px) {
          margin-top: 1.5rem;
        }

        @media screen and (max-width: 991px) {
          max-width: 440px;
          display: flex;
          justify-content: flex-start;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (max-width: 575px) {
          flex-direction: column;
        }

        .btn {
          font-size: 26px;
          padding: 0.5rem 1.5rem;

          @media screen and (max-width: 1650px) {
            font-size: 20px;
          }

          @media screen and (max-width: 1135px) {
            font-size: 14px;
          }
        }

        .btn.btn-accent {
          width: 340px;

          @media screen and (max-width: 1650px) {
            width: 220px;
          }

          @media screen and (max-width: 1135px) {
            width: 160px;
          }

          @media screen and (max-width: 575px) {
            width: 100%;
          }
        }
      }
    }

    .right {
      position: relative;
      width: 480px;

      @media screen and (max-width: 1400px) and (max-width: 1250px) {
        width: 480px;
      }

      @media screen and (max-width: 1135px) {
        width: 420px;
      }

      @media screen and (max-width: 991px) {
        width: 100%;
        max-width: 558px;
        margin-top: 3rem;
      }

      .bg-card {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 1350px) {
          width: 150%;
        }

        @media screen and (max-width: 991px) {
          width: 120%;
        }
      }

      .card {
        padding: 25px;
        width: 100%;
        border-radius: 50px;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.4);
        border-radius: 40px;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        @media screen and (max-width: 1400px) and (max-width: 1250px) {
          border-radius: 30px;
        }

        // @media screen and (max-width: 1200px) {
        //   width: 40%;
        // }

        h2 {
          font-size: 26px;
          text-align: center;

          @media screen and (max-width: 1135px) {
            font-size: 24px;
          }
        }

        .select-container {
          margin-top: 30px;
          border-radius: 6px;
          background: #fff;

          @media screen and (max-width: 1450px) {
            margin-top: 20px;
          }
        }

        select {
          padding: 14px 25px;
          color: $color4;
          width: 100%;
          font-size: 16px;
          border-radius: 6px;

          @media screen and (max-width: 1450px) {
            padding: 14px 18px;
            background-position-y: 20px;
          }

          @media screen and (max-width: 1135px) {
            font-size: 14px;
            padding: 14px;
          }
        }

        .btn-wrap {
          transform: translateX(-15px);
        }

        img.calculate {
          width: 25px;
          height: 88px;
        }

        .btn {
          margin: 0.5rem 6px;
          text-align: right;
          font-size: 16px;
          padding: 0.5rem 1.5rem;

          @media screen and (max-width: 575px) {
            padding-left: 22px;
            padding-right: 22px;
            text-align: center;
          }
        }
      }
    }
  }
}

#features {
  .cards {
    margin: 36px 0;

    .card {
      text-align: center;

      h2 {
        font-size: 92px;

        @media screen and (max-width: 1450px) {
          font-size: 74px;
          margin-bottom: 0.5rem;
        }

        @media screen and (max-width: 991px) {
          font-size: 54px;
        }

        @media screen and (max-width: 767px) {
          font-size: 42px;
        }
      }

      h3 {
        font-size: 35px;

        @media screen and (max-width: 1450px) {
          font-size: 25px;
        }

        @media screen and (max-width: 991px) {
          font-size: 18px;
        }

        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
  }
}

#why-us {
  background-color: $color5;
  overflow: hidden;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-container {
  }

  .head {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .cards {
    margin-top: 64px;
    position: relative;

    img {
      width: 40%;
    }

    .card-bg {
      position: absolute;

      &.left {
        left: -576px;
      }

      &.right {
        right: -360px;
      }
    }

    .card {
      position: relative;
      background-color: #fff;
      border-radius: 12px;
      padding: 43px;
      text-align: center;
      margin: 0.5rem 0;
      z-index: 1;
      height: 100%;

      @media screen and (max-width: 1225px) {
        padding-left: 26px;
        padding-right: 26px;
      }

      h3 {
        margin: 46px 0;

        @media screen and (max-width: 1450px) {
          margin: 30px 0;
        }

        @media screen and (max-width: 1225px) {
          font-size: 23px;
        }
      }

      p {
        color: $color6;
      }
    }
  }
}

#how-it-works {
  position: relative;
  overflow: hidden;
  background-color: $color7;
  // padding-top: 130px;
  // padding-bottom: 160px;
  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .head {
    @media screen and (max-width: 575px) {
      text-align: center;
    }
  }

  .dots {
    position: absolute;

    @media screen and (max-width: 767px) {
      width: 50px;
    }

    &.dots-1 {
      left: 0;
      bottom: 0;
    }

    &.dots-2 {
      right: 0;
      top: -2rem;
    }
  }

  .order-complete {
    @media screen and (max-width: 767px) {
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5rem;
    }
  }

  .steps {
    margin-top: 50px;

    .step {
      margin: 0.5rem 0;
      padding: 1rem 1.25rem;
      border-radius: 20px;
      border-bottom-right-radius: 0;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 575px) {
        flex-direction: column;
      }

      .number {
        margin-right: 35px;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        background-color: $color1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        @media screen and (max-width: 575px) {
          margin-bottom: 1rem;
          margin-right: 0;
        }

        .number-main {
          color: #fff;
          font-size: 40px;
          font-weight: bold;
        }
      }

      .text {
        font-size: 18px;

        @media screen and (max-width: 1450px) {
          font-size: 14px;
        }

        @media screen and (max-width: 575px) {
          text-align: center;
        }
      }
    }
  }
}

#benefits {
  // padding-top: 75px;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
  }

  .benefits-container {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1551px) {
      margin-left: -100px;
    }

    @media screen and (max-width: 1150px) {
      flex-direction: column;
    }

    .left-img-container {
      flex-grow: 1;
      display: flex;
      align-items: center;

      img.left-img {
        width: 100%;

        @media screen and (max-width: 1150px) {
          width: 75%;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (max-width: 575px) {
          width: 100%;
        }
      }
    }

    .right {
      flex-shrink: 0;

      @media screen and (min-width: 1451px) {
        width: 690px;
      }

      @media screen and (max-width: 1450px) and (min-width: 1151px) {
        width: 560px;
      }

      h2 {
        br {
          @media screen and (max-width: 575px) {
            display: none;
          }
        }
      }
    }

    .btn {
      @media screen and (max-width: 575px) {
        font-size: 14px;
      }
    }
  }
}

#discount {
  padding: 80px 0;

  .discount-main {
    background-color: $color1;
    padding: 1.5rem 4rem;
    border-radius: 20px;

    @media screen and (max-width: 767px) {
      padding: 2rem;
    }

    .text {
      color: #fff;
      font-size: 50px;

      @media screen and (max-width: 1800px) {
        font-size: 44px;
      }

      @media screen and (max-width: 1600px) {
        font-size: 34px;
      }

      @media screen and (max-width: 1150px) {
        font-size: 30px;
      }

      @media screen and (max-width: 1050px) {
        font-size: 26px;
      }

      @media screen and (max-width: 575px) {
        font-size: 20px;
        text-align: center;
      }
    }

    input {
      border-radius: 8px;
      font-size: 30px;
      padding: 23px 20px;
      border: none;
      width: 100%;

      @media screen and (max-width: 1600px) {
        font-size: 24px;
        padding: 18px;
      }

      @media screen and (max-width: 1150px) {
        font-size: 22px;
      }

      @media screen and (max-width: 767px) {
        font-size: 12px;
        padding: 14px;
      }
    }
  }
}

#testimonials {
  .main {
    max-width: 933px;
    margin-left: auto;
    margin-right: auto;

    p {
      color: $color8;

      @media screen and (min-width: 1800px) {
        font-size: 26px;
      }
    }

    .testimonials {
      .item {
        margin-top: 5rem;

        .img {
          position: relative;
          width: 276px;
          height: 276px;
          margin-left: auto;
          margin-right: auto;

          @media screen and (max-width: 767px) {
            width: 100px;
            height: 100px;
          }

          .user,
          .bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .user {
            border-radius: 50%;
            width: 100%;
          }

          .bg {
            width: 180%;
          }
        }

        .body {
          margin: 1.5rem 0 2rem;

          .name {
            margin: 14px 0;
            font-size: 32px;
            color: $color25;
            font-weight: 500;

            @media screen and (max-width: 767px) {
              font-size: 22px;
            }
          }

          .comment {
            font-size: 20px;
            color: $color26;
            font-weight: 300;

            @media screen and (max-width: 767px) {
              font-size: 14px;
            }
          }

          .ratings {
            img {
              margin-left: 6px;
              margin-right: 6px;

              @media screen and (max-width: 767px) {
                width: 20px;
                height: 20px;
                margin-left: 3px;
                margin-right: 3px;
              }
            }
          }
        }
      }
    }
  }
}

#help {
  position: relative;
  background-color: $color7;
  // padding: 64px 0;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .page-container {
    position: relative;
    z-index: 1;
  }

  * {
    color: #fff;
  }

  .writing-container {
    .row > * {
      @media screen and (max-width: 610px) {
        width: 100%;
      }
    }
  }

  h3 {
    font-size: 40px;

    @media screen and (max-width: 1450px) {
      font-size: 28px;
    }
  }

  .dots {
    position: absolute;

    @media screen and (max-width: 767px) {
      width: 50px;
    }

    &.left {
      left: 0;
      bottom: 1.5rem;
    }

    &.right {
      right: 0;
      top: 0;
    }
  }

  .btn {
    padding-left: 70px;
    padding-right: 70px;

    @media screen and (max-width: 575px) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

#special {
  // padding-top: 70px;
  // padding-bottom: 70px;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .title {
    margin-bottom: 70px;
  }

  .small {
    // text-align: justify !important;
  }
}

#get-admission {
  background-color: $color9;
  // padding-top: 54px;
  // padding-bottom: 78px;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .head {
    justify-content: space-between;
    margin-bottom: 65px;

    h3 {
      font-size: 45px;

      @media screen and (max-width: 767px) {
        font-size: 44px;
      }

      @media screen and (max-width: 650px) {
        font-size: 38px;
      }

      @media screen and (max-width: 575px) {
        font-size: 30px;
      }
    }

    .stars {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      img {
        margin-left: 6px;
      }
    }
  }

  .colleges-container {
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .college {
      margin: 1rem;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

#services {
  position: relative;
  background: $color7;
  // padding-top: 100px;
  // padding-bottom: 80px;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  * {
    color: #fff;
  }

  .dots {
    position: absolute;

    @media screen and (max-width: 767px) {
      width: 50px;
    }

    &.left {
      left: 0;
      bottom: 0;
    }

    &.right {
      right: 0;
      top: 0;
    }
  }

  .girl-img {
    @media screen and (max-width: 991px) and (min-width: 575px) {
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h2 {
    margin-bottom: 40px;
  }

  .item {
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .img-container {
    height: 100%;
  }
}

#identity {
  // padding-top: 100px;
  // padding-bottom: 70px;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .jumbotron {
    background-color: $color1;
    padding: 45px 56px;
    display: flex;
    align-items: center;
    border-radius: 20px;

    @media screen and (max-width: 1200px) {
      justify-content: center;
      flex-direction: column;
    }

    @media screen and (max-width: 575px) {
      padding-left: 12px;
      padding-right: 12px;
    }

    * {
      color: #fff;
    }

    .vector {
      width: 240px;
      height: 240px;
    }

    .circle {
      background: #fff;
      width: 294px;
      height: 294px;
      border-radius: 50%;
      margin-right: 56px;

      @media screen and (max-width: 1200px) {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
        margin-right: 0;
      }
    }

    h3 {
      font-size: 36px;

      @media screen and (max-width: 1200px) {
        text-align: center;
      }

      // @media screen and (max-width: 767px) {
      //   font-size: 44px;
      // }

      // @media screen and (max-width: 625px) {
      //   font-size: 38px;
      // }

      @media screen and (max-width: 575px) {
        font-size: 30px;
      }
    }

    .btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media screen and (max-width: 1200px) {
        justify-content: center;
      }

      @media screen and (max-width: 767px) {
        flex-direction: column;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
        align-items: flex-start;
        margin-top: 2rem;
        transform: translateX(16px);
      }

      @media screen and (max-width: 575px) {
        transform: translateX(44px);
      }

      .btn {
        font-size: 20px;
      }
    }
  }

  .main {
    margin-top: 130px;

    .title-sm {
      font-size: 30px;
      font-weight: 500;

      @media screen and (max-width: 1450px) {
        font-size: 22px;
      }

      @media screen and (max-width: 767px) {
        font-size: 20px;
      }

      // @media screen and (max-width: 1450px) {
      //   font-size: 22px;
      // }
    }

    h2 {
      max-width: 1272px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      max-width: 1404px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .cards {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      max-width: 485px;
      padding: 44px 33px;
      box-shadow: 0 50px 140px $color10;
      display: flex;
      margin: 0.5rem;

      @media screen and (max-width: 991px) {
        flex-direction: column;
        text-align: center;
      }

      @media screen and (max-width: 767px) {
        max-width: 295px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img.left-img {
        margin-right: 33px;

        @media screen and (max-width: 1400px) {
          width: 90px;
          margin-right: 20px;
        }

        @media screen and (max-width: 1200px) {
          width: 75px;
          margin-right: 20px;
        }

        @media screen and (max-width: 991px) {
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .text {
        * {
          font-size: 18px;
          font-weight: 600;

          @media screen and (max-width: 1400px) {
            font-size: 14px;
          }

          @media screen and (max-width: 1200px) {
            font-size: 10px;
          }
        }
      }

      a {
        margin-top: 25px;
        display: flex;
        align-items: center;
        color: $color2;

        @media screen and (max-width: 991px) {
          width: 100px;
          margin-left: auto;
          margin-right: auto;
        }

        img {
          margin-left: 20px;
        }
      }
    }
  }
}

#faqs {
  position: relative;
  // padding-top: 116px;
  // padding-bottom: 125px;
  background: $color7;
  background-image: url(../vectors/bg-faq.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .dots {
    position: absolute;

    @media screen and (max-width: 767px) {
      width: 50px;
    }

    &.left {
      left: 0;
      bottom: 0;
    }

    &.right {
      right: 0;
      top: 0;
    }
  }

  .faq-right {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    margin: 10px 0 24px;
  }

  .question {
    .q-statement {
      padding: 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      cursor: pointer;

      img {
        transition: 0.4s ease;
      }

      .text {
        font-weight: 600;
        font-size: 22px;
      }

      img {
        margin-left: 2rem;
      }
    }

    .answer {
      display: none;
      font-weight: 200;
      padding-bottom: 0.75rem;
    }

    &.active {
      img {
        transform: rotate(45deg);
      }
    }
  }
}

#guarentees {
  // padding-top: 150px;
  // padding-bottom: 112px;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .text {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    p {
      margin-top: 32px;
    }
  }

  .video-container {
    position: relative;
    border-radius: 75px;
    overflow: hidden;
    box-shadow: 0 10px 30px #0dbdb845;

    .video-img {
      width: 100%;
      height: 100%;
    }

    .play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .dark {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $color2;
      opacity: 0.35;
    }
  }
}

#tips {
  // padding-top: 75px;
  // padding-bottom: 75px;
  background: $color11;

  @media screen and (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .tips-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .tips-img {
    max-width: 578px;
    margin-bottom: 4rem;

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
  }

  .text {
    max-width: 670px;
    margin-left: auto;

    h2 {
      position: relative;
      color: $color12;
      font-family: "poppins", sans-serif;

      &::after {
        content: "";
        position: absolute;
        top: -1.5rem;
        left: 0;
        background: $color3;
        width: 80px;
        height: 8px;
        border-radius: 20px;
      }
    }

    p {
      margin-top: 25px;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
}

#footer {
  background: $color7;
  padding: 60px 0;

  @media screen and (min-width: 992px) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media screen and (max-width: 767px) {
    // padding-top: 60px;
  }

  * {
    color: #fff;
  }

  .logo {
    width: 210px;
    height: 64px;

    img {
      width: 100%;
    }
  }

  .footer-links {
    display: block;
    padding: 60px 0;

    a {
      padding: 0.25rem 0;
      display: block;
      transition: 0.4s ease;

      &:hover {
        color: $color1;
      }
    }
  }

  .footer-nav,
  .footer-main,
  .footer-links {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 80%;
      height: 1px;
      border-top: 1px solid #fff;
      transform: translateX(-50%);
    }
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 44px;

    @media screen and (max-width: 991px) {
      flex-direction: column;

      & > * {
        margin: 1rem 0;
      }
    }

    .nav {
      @media screen and (max-width: 610px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      a {
        font-size: 15px;
        margin: 0 30px;

        @media screen and (max-width: 1200px) {
          margin: 0 10px;
        }

        @media screen and (max-width: 610px) {
          margin: 0.5rem 0;
        }
      }
    }
  }

  .footer-main {
    padding: 60px 0;

    .row > * {
      @media screen and (max-width: 791px) {
        width: 100%;
        flex-basis: auto;
      }
    }

    .title {
      margin-bottom: 50px;
    }

    .contact-us,
    .payments,
    .secure {
      @media screen and (max-width: 991px) {
        margin: 1rem 0;
      }

      img {
        @media screen and (max-width: 1600px) {
          transform: scale(0.7);
        }
      }
    }

    .contact-us {
      @media screen and (max-width: 791px) {
      }

      a {
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 30px 0;
        margin-right: 24px;
        white-space: initial;

        @media screen and (max-width: 1600px) {
          font-size: 16px;
        }

        @media screen and (max-width: 340px) {
          font-size: 14px;
        }

        img {
          margin-right: 24px;

          @media screen and (max-width: 340px) {
            width: 30px;
            margin-right: 10px;
          }
        }
      }
    }

    .payments,
    .secure {
      @media screen and (min-width: 792px) {
        text-align: center;
      }

      .imgs {
        display: flex;
        justify-content: center;

        @media screen and (max-width: 791px) {
          justify-content: flex-start;

          & > img {
            margin-left: 0 !important;
          }
        }
      }
    }

    .payments {
      img {
        margin: 0 30px;
      }
    }

    .secure {
      .imgs {
        img {
          margin: 0 45px;
        }
      }
    }
  }

  .footer-copyright {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;

    @media screen and (max-width: 1600px) {
      font-size: 20px;
    }
  }
}
